<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
    </head>
    <body>

    <app-root></app-root>
    <script src="static/dist/runtime.8ca6b76fb365276f.js" type="module"></script>
    <script src="static/dist/polyfills.dcda6a5752ceec34.js" type="module"></script>
    <script src="static/dist/main.dbd0e87ae3368f09.js" type="module"></script>
        
    
    </body>
</html>